@font-face {
	font-family: 'nookons';
	src:url('fonts/nookons.eot?sl7o6t');
	src:url('fonts/nookons.eot?#iefixsl7o6t') format('embedded-opentype'),
		url('fonts/nookons.ttf?sl7o6t') format('truetype'),
		url('fonts/nookons.woff?sl7o6t') format('woff'),
		url('fonts/nookons.svg?sl7o6t#nookons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.nookons {
	font-family: 'nookons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nklyn-icon-chat-comment:before {
	content: "\e600";
}
.nklyn-icon-chat-discussion:before {
	content: "\e601";
}
.nklyn-icon-file-code:before {
	content: "\e602";
}
.nklyn-icon-file-pdf:before {
	content: "\e603";
}
.nklyn-icon-file-text:before {
	content: "\e604";
}
.nklyn-icon-file-zip:before {
	content: "\e605";
}
.nklyn-icon-gear:before {
	content: "\e606";
}
.nklyn-icon-globe:before {
	content: "\e607";
}
.nklyn-icon-graph:before {
	content: "\e608";
}
.nklyn-icon-hamburger:before {
	content: "\e609";
}
.nklyn-icon-jump-left:before {
	content: "\e60a";
}
.nklyn-icon-jump-right:before {
	content: "\e60b";
}
.nklyn-icon-key:before {
	content: "\e60c";
}
.nklyn-icon-list-unordered:before {
	content: "\e60d";
}
.nklyn-icon-location-c:before {
	content: "\e60e";
}
.nklyn-icon-lock-c:before {
	content: "\e60f";
}
.nklyn-icon-mail-b:before {
	content: "\e610";
}
.nklyn-icon-mail-c:before {
	content: "\e611";
}
.nklyn-icon-markdown:before {
	content: "\e612";
}
.nklyn-icon-mention:before {
	content: "\e613";
}
.nklyn-icon-mute:before {
	content: "\e614";
}
.nklyn-icon-package:before {
	content: "\e615";
}
.nklyn-icon-pencil:before {
	content: "\e616";
}
.nklyn-icon-playback-fast-forward:before {
	content: "\e617";
}
.nklyn-icon-playback-pause:before {
	content: "\e618";
}
.nklyn-icon-playback-play:before {
	content: "\e619";
}
.nklyn-icon-playback-rewind:before {
	content: "\e61a";
}
.nklyn-icon-quote:before {
	content: "\e61b";
}
.nklyn-icon-repo-fork:before {
	content: "\e61c";
}
.nklyn-icon-rocket:before {
	content: "\e61d";
}
.nklyn-icon-star:before {
	content: "\e61e";
}
.nklyn-icon-terminal:before {
	content: "\e61f";
}
.nklyn-icon-tras:before {
	content: "\e620";
}
.nklyn-icon-settings-a:before {
	content: "\e621";
}
.nklyn-icon-favorite-f:before {
	content: "\e622";
}
.nklyn-icon-favorite:before {
	content: "\e623";
}
.nklyn-icon-bar-1:before {
	content: "\e624";
}
.nklyn-icon-bar-2:before {
	content: "\e625";
}
.nklyn-icon-grid-square:before {
	content: "\e626";
}
.nklyn-icon-pie:before {
	content: "\e627";
}
.nklyn-icon-question-c:before {
	content: "\e628";
}
.nklyn-icon-star-o:before {
	content: "\e629";
}
.nklyn-icon-clock:before {
	content: "\e62a";
}
.nklyn-icon-dollar:before {
	content: "\e62b";
}
.nklyn-icon-dot-f:before {
	content: "\e62c";
}
.nklyn-icon-dot:before {
	content: "\e62d";
}
.nklyn-icon-question:before {
	content: "\e62e";
}
.nklyn-icon-star-a:before {
	content: "\e62f";
}
.nklyn-icon-asterisk:before {
	content: "\e630";
}
.nklyn-icon-calendar:before {
	content: "\e631";
}
.nklyn-icon-globe-b:before {
	content: "\e632";
}
.nklyn-icon-message:before {
	content: "\e633";
}
.nklyn-icon-nooklyn:before {
	content: "\e634";
}
.nklyn-icon-envelope-f:before {
	content: "\e635";
}
.nklyn-icon-envelope:before {
	content: "\e636";
}
.nklyn-icon-phone:before {
	content: "\e637";
}
.nklyn-icon-photos:before {
	content: "\e638";
}
.nklyn-icon-browse-roommate:before {
	content: "\e639";
}
.nklyn-icon-email:before {
	content: "\e63a";
}
.nklyn-icon-event:before {
	content: "\e63b";
}
.nklyn-icon-room-2:before {
	content: "\e63c";
}
.nklyn-icon-roommate:before {
	content: "\e63d";
}
.nklyn-icon-bath:before {
	content: "\e63e";
}
.nklyn-icon-bed:before {
	content: "\e63f";
}
.nklyn-icon-building:before {
	content: "\e640";
}
.nklyn-icon-bus:before {
	content: "\e641";
}
.nklyn-icon-cost:before {
	content: "\e642";
}
.nklyn-icon-gym:before {
	content: "\e643";
}
.nklyn-icon-location-d:before {
	content: "\e644";
}
.nklyn-icon-pool:before {
	content: "\e645";
}
.nklyn-icon-room-1:before {
	content: "\e646";
}
.nklyn-icon-subway:before {
	content: "\e647";
}
.nklyn-icon-washer-dryer:before {
	content: "\e648";
}
.nklyn-icon-location:before {
	content: "\e649";
}
.nklyn-icon-alarm-o:before {
	content: "\e64a";
}
.nklyn-icon-alert:before {
	content: "\e64b";
}
.nklyn-icon-analytics-o:before {
	content: "\e64c";
}
.nklyn-icon-analytics:before {
	content: "\e64d";
}
.nklyn-icon-bell:before {
	content: "\e64e";
}
.nklyn-icon-bolt-o:before {
	content: "\e64f";
}
.nklyn-icon-bolt:before {
	content: "\e650";
}
.nklyn-icon-bulb-o:before {
	content: "\e651";
}
.nklyn-icon-camera:before {
	content: "\e652";
}
.nklyn-icon-card:before {
	content: "\e653";
}
.nklyn-icon-cart-o:before {
	content: "\e654";
}
.nklyn-icon-cart:before {
	content: "\e655";
}
.nklyn-icon-chatbox-working:before {
	content: "\e656";
}
.nklyn-icon-chatbox:before {
	content: "\e657";
}
.nklyn-icon-chatboxes-a:before {
	content: "\e658";
}
.nklyn-icon-chatboxes-o:before {
	content: "\e659";
}
.nklyn-icon-chatboxes:before {
	content: "\e65a";
}
.nklyn-icon-chatbubble-a:before {
	content: "\e65b";
}
.nklyn-icon-chatbubble-b:before {
	content: "\e65c";
}
.nklyn-icon-chatbubble-working:before {
	content: "\e65d";
}
.nklyn-icon-chatbubble:before {
	content: "\e65e";
}
.nklyn-icon-chatbubbles:before {
	content: "\e65f";
}
.nklyn-icon-check:before {
	content: "\e660";
}
.nklyn-icon-checkmark-o:before {
	content: "\e661";
}
.nklyn-icon-circle-filled:before {
	content: "\e662";
}
.nklyn-icon-circle:before {
	content: "\e663";
}
.nklyn-icon-close-c:before {
	content: "\e664";
}
.nklyn-icon-close:before {
	content: "\e665";
}
.nklyn-icon-compose:before {
	content: "\e666";
}
.nklyn-icon-contact-o:before {
	content: "\e667";
}
.nklyn-icon-contact:before {
	content: "\e668";
}
.nklyn-icon-edit:before {
	content: "\e669";
}
.nklyn-icon-face-sad:before {
	content: "\e66a";
}
.nklyn-icon-file-document:before {
	content: "\e66b";
}
.nklyn-icon-film:before {
	content: "\e66c";
}
.nklyn-icon-gear-a:before {
	content: "\e66d";
}
.nklyn-icon-glasses:before {
	content: "\e66e";
}
.nklyn-icon-grid:before {
	content: "\e66f";
}
.nklyn-icon-happy:before {
	content: "\e670";
}
.nklyn-icon-home-o:before {
	content: "\e671";
}
.nklyn-icon-home:before {
	content: "\e672";
}
.nklyn-icon-infinite-o:before {
	content: "\e673";
}
.nklyn-icon-infinite:before {
	content: "\e674";
}
.nklyn-icon-ipad:before {
	content: "\e675";
}
.nklyn-icon-iphone:before {
	content: "\e676";
}
.nklyn-icon-keypad:before {
	content: "\e677";
}
.nklyn-icon-location-b:before {
	content: "\e678";
}
.nklyn-icon-lock-b:before {
	content: "\e679";
}
.nklyn-icon-mail-o:before {
	content: "\e67a";
}
.nklyn-icon-mail:before {
	content: "\e67b";
}
.nklyn-icon-minus-o:before {
	content: "\e67c";
}
.nklyn-icon-more-a:before {
	content: "\e67d";
}
.nklyn-icon-more:before {
	content: "\e67e";
}
.nklyn-icon-navigate:before {
	content: "\e67f";
}
.nklyn-icon-paper-airplane:before {
	content: "\e680";
}
.nklyn-icon-paper:before {
	content: "\e681";
}
.nklyn-icon-paperclip:before {
	content: "\e682";
}
.nklyn-icon-plane:before {
	content: "\e683";
}
.nklyn-icon-plus-circle:before {
	content: "\e684";
}
.nklyn-icon-plus-o:before {
	content: "\e685";
}
.nklyn-icon-power:before {
	content: "\e686";
}
.nklyn-icon-printer:before {
	content: "\e687";
}
.nklyn-icon-settings-b:before {
	content: "\e688";
}
.nklyn-icon-settings-c:before {
	content: "\e689";
}
.nklyn-icon-settings-o:before {
	content: "\e68a";
}
.nklyn-icon-settings:before {
	content: "\e68b";
}
.nklyn-icon-social-android-o:before {
	content: "\e68c";
}
.nklyn-icon-social-android:before {
	content: "\e68d";
}
.nklyn-icon-social-apple-o:before {
	content: "\e68e";
}
.nklyn-icon-social-apple:before {
	content: "\e68f";
}
.nklyn-icon-social-chrome-o:before {
	content: "\e690";
}
.nklyn-icon-social-chrome:before {
	content: "\e691";
}
.nklyn-icon-social-dropbox-o:before {
	content: "\e692";
}
.nklyn-icon-social-dropbox:before {
	content: "\e693";
}
.nklyn-icon-social-facebook-o:before {
	content: "\e694";
}
.nklyn-icon-social-facebook:before {
	content: "\e695";
}
.nklyn-icon-social-foursquare-o:before {
	content: "\e696";
}
.nklyn-icon-social-foursquare:before {
	content: "\e697";
}
.nklyn-icon-social-github-a:before {
	content: "\e698";
}
.nklyn-icon-social-github-o:before {
	content: "\e699";
}
.nklyn-icon-social-github:before {
	content: "\e69a";
}
.nklyn-icon-social-google-o:before {
	content: "\e69b";
}
.nklyn-icon-social-google-plus-o:before {
	content: "\e69c";
}
.nklyn-icon-social-google-plus:before {
	content: "\e69d";
}
.nklyn-icon-social-google:before {
	content: "\e69e";
}
.nklyn-icon-social-instagram-o:before {
	content: "\e69f";
}
.nklyn-icon-social-instagram:before {
	content: "\e6a0";
}
.nklyn-icon-social-linkedin-o:before {
	content: "\e6a1";
}
.nklyn-icon-social-linkedin:before {
	content: "\e6a2";
}
.nklyn-icon-social-pinterest-o:before {
	content: "\e6a3";
}
.nklyn-icon-social-pinterest:before {
	content: "\e6a4";
}
.nklyn-icon-social-snapchat:before {
	content: "\e6a5";
}
.nklyn-icon-social-snaphat-o:before {
	content: "\e6a6";
}
.nklyn-icon-social-tumblr-o:before {
	content: "\e6a7";
}
.nklyn-icon-social-tumblr:before {
	content: "\e6a8";
}
.nklyn-icon-social-tux:before {
	content: "\e6a9";
}
.nklyn-icon-social-twitter-o:before {
	content: "\e6aa";
}
.nklyn-icon-social-twitter:before {
	content: "\e6ab";
}
.nklyn-icon-social-vimeo-o:before {
	content: "\e6ac";
}
.nklyn-icon-social-vimeo:before {
	content: "\e6ad";
}
.nklyn-icon-social-youtube-o:before {
	content: "\e6ae";
}
.nklyn-icon-social-youtube:before {
	content: "\e6af";
}
.nklyn-icon-thumb-down:before {
	content: "\e6b0";
}
.nklyn-icon-thumb-up:before {
	content: "\e6b1";
}
.nklyn-icon-time:before {
	content: "\e6b2";
}
.nklyn-icon-unlocked:before {
	content: "\e6b3";
}
.nklyn-icon-upload-o:before {
	content: "\e6b4";
}
.nklyn-icon-upload:before {
	content: "\e6b5";
}
.nklyn-icon-zap:before {
	content: "\e6b6";
}
.nklyn-icon-cmd:before {
	content: "\e6b7";
}
